<% letter = ('A'..'Z').to_a %>
<% i = 0 %>


<% @events.each do |event| %>

    <% i += 1 %>


    <% cache [current_or_guest_user, event, event.agendas], expires: 1.hour do %>
        <div id="event-<%= event.id %>" class="Event Event--newsFeed grid Grid-cell u-size4of12">

          <div class="Event-buttonsBox">
            <% if agended(event) %>
                <span title='<%= event.period_that_occurs %>' class='Event-button Event-dayButton Event--newsfeed js-EventDayButton is-schedule has-tooltip'><%= event.day_of_week %></span>
                <span class="Event-button Event-agendaButton js-EventAgendaButton is-schedule" data-schedule-url="<%= schedule_event_path(event) %>"><span class="Event-buttonText js-EventButtonText">Agendado</span><span class="Event-agendedByCount js-agendedByCount has-tooltip" title="<%= event.agended_by_count[:valid] ? event.agended_by_count[:text] : nil %> "><%= event.agended_by_count[:count] %></span></span>
            <% else %>
                <span title='<%= event.period_that_occurs %>' class='Event-button Event-dayButton Event--newsfeed js-EventDayButton has-tooltip'><%= event.day_of_week %></span>
                <span class="Event-button Event-agendaButton js-EventAgendaButton" data-schedule-url="<%= schedule_event_path(event) %>"><span class="Event-buttonText js-EventButtonText">Agendar</span><span class="Event-agendedByCount js-agendedByCount has-tooltip" title="<%= event.agended_by_count[:valid] ? event.agended_by_count[:text] : nil %> "><%= event.agended_by_count[:count] %></span></span>
            <% end %>
          </div>

          <div class="panel panel-default shadow-animation" data-place="<%= event.try(:place).try(:name) %>" data-address="<%= event.full_address %>" data-latitude="<%= event.latitude.blank? ? event.place.latitude : event.latitude %>" data-longitude="<%= event.longitude.blank? ? event.place.longitude : event.longitude %>" data-letter="<%= letter[i] %>">
            <div class="Event-content">
              <div class="Event-detailsBox">

                <div class="Event-place">
                  <span class="glyphicon glyphicon-map-marker"></span> <%= link_to_if current_user, event.place.try(:name), place_path(event.place) %>
                </div>

                <div class="Event-categories">
                  <%= strong_category(event, 'item') %>
                </div>

              </div>

              <%= link_to event_path(event), data: { push: true } do %>
                  <div class="Event-imageBox" style="background-image: url('<%= event.image.url(:thumb) %>')"></div>
              <% end %>


              <div class="caption">

                <span class="Event-subCat"><%= event.subcategory.name unless event.subcategory.nil? %></span>

                <h2 class="Event-title"><%= link_to event.name_with_limit, event_path(event), data: { push: true } %></h2>
                <span class="description"><%= strip_tags event.description_with_limit %></span>

                <div class="Event-infos">
                    <span class="preco <%= event.cost == 0 ? 'free' : nil %>">
                        <%= event.price %>
                    </span>

                    <span class="hora">
                        <% if event.allday %>
                            O dia todo
                        <% else %>
                            <%= event.hour_start_first.strftime("%H:%M") << "h" %>
                        <% end %>
                    </span>

                    <span class="friends pull-right">
                    <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver seus amigos que agendaram o evento.")' do %>
                        <span class="friends pull-right">
                            <div class="AvatarPhoto AvatarPhoto--small AvatarPhoto--onEventSingle"></div>
                        </span>
                    <% end %>
                    </span>
                </div>

              </div>
            </div>
          </div>
        </div>
    <% end %>






<% end %>