
<% cache [cache_key_for_events, params] do %>

    <!-- HEAD -->

    <%= stylesheet_link_tag 'suit-components-grid/index.css', 'suit-utils-size/index.css', 'suit-utils-position/index.css' %>
    <%= stylesheet_link_tag 'modules/Event', 'modules/AlertCreateEvent' %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= include_gon %>
    <%= javascript_include_tag 'gmaps-builder-user' %>
    <%= javascript_include_tag params[:controller] %>


    <!-- MAIN -->

    <div class="col-lg-12">
      <h3><%= @city.name unless @city.nil? %></h3>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div id="main-content" class="ps-container">
        <div class="Grid Grid--withGutter">

          <%= render "alert_none_events" %>

          <% if current_or_guest_user.guest? %>
              <%= render "events_for_guest" %>
          <% else %>
              <%= render "events" %>
          <% end %>

          <%= render "alert_create_new_event" %>

        </div>
      </div>
    </div>



    <!-- SIDEBAR -->

    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
      <%= render "sidebar" %>
    </div>

<% end %>