<% cache [cache_key_for_events, params], expires: 15.minutes do %>

    <!-- HEAD -->

    <%= stylesheet_link_tag 'suit-components-grid/index.css', 'suit-utils-size/index.css', 'suit-utils-position/index.css' %>
    <%= stylesheet_link_tag 'modules/Event', 'modules/AlertCreateEvent', 'modules/AvatarPhoto' %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= include_gon %>
    <%= javascript_include_tag 'gmaps-builder-user' %>
    <%= javascript_include_tag params[:controller] %>


    <!-- MAIN -->

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-lg-12">

          <div id="main-content" class="ps-container">

            <%= render 'events_today' %>

            <%= render 'events_persona' %>

            <%= render 'events_neighborhood' %>

            <%= render 'events_fun' %>

            <%= render 'events_education' %>

            <%= render 'events_health' %>

            <%= render 'events_trends' %>

            <%= render 'events_city' %>

          </div>
        </div>

      </div>
    </div>


    <!-- SIDEBAR -->

    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs m-30-0">
      <%= render "sidebar" %>
    </div>

<% end %>