<div class="panel panel-default">
    <div class="panel-heading">
      <h1>Convites recebidos</h1>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Nome</th>
              <th>Cidade</th>
              <th>Persona</th>
              <th>Locale</th>
              <th>Per. Sugestão</th>
              <th>Cidade Sugestão</th>
              <th>Key</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @invites.each do |invite| %>
              <tr class="<%= 'success' if invite.invited %>">
                <td><%= link_to invite.id, invite_path(invite) %></td>
                <td><%= invite.email %></td>
                <td><%= invite.name %></td>
                <td><%= invite.city_name %></td>
                <td><%= invite.persona %></td>
                <td><%= invite.locale %></td>
                <td><%= invite.persona_sugest %></td>
                <td><%= invite.city_sugest %></td>
                <td><%= invite.key %></td>
                <td>
                <%= link_to 'Enviar',
                              send_invite_path(key: invite.key),
                              remote: true,
                              class: 'btn btn-default btn-xs btn-aprovar'
                               %>
                  <%= link_to 'Editar',
                              edit_invite_path(invite), :class => 'btn btn-default btn-xs' %>
                  <%= link_to 'Excluir',
                              invite_path(invite),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'Criar um convite',
                    new_invite_path,
                    :class => 'btn btn-primary' %>
    </div>
</div>