

  <div class="panel-heading">
    <h2>Listing subcategories</h2>
  </div>

  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @subcategories.each do |subcategory| %>
          <tr>
            <td><%= subcategory.name %></td>
            <td><%= link_to 'Show', subcategory %></td>
            <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
            <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Subcategory', new_subcategory_path %>

  </div>


