<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="Modal">
      <div class="Modal-header">
        <button type="button" class="Modal-closeButton close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="Modal-title" id="myModalLabel"><%= t('welcome.modal.i_want_invite') %></span>
      </div>

      <%= simple_form_for(@invite, html:{ id:'new-invite', autocomplete: 'off'}, defaults:{input_html:{class: 'Input'}, label_html: {class: 'control-label'}, wrapper_html:{class: 'form-group'}}) do |f| %>
          <div class="modal-body">

            <div style="overflow: hidden; margin-bottom: 15px">
              <label class="select optional control-label" for="invite_persona"><%= t('welcome.modal.persona_identify') %></label> <span class="Modal-icon glyphicon glyphicon-question-sign has-tooltip" title="<%= t('welcome.modal.persona_tooltip') %>"></span>
              <%= f.input :persona, collection: Persona.order(:name), label_method: :name, value_method: :id, as: :check_boxes, include_blank: false, label: false,  prompt: t('welcome.modal.persona_identify') %>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <%= f.input :name, label: t('welcome.modal.name'), autofocus: true %>
              </div>
              <div class="col-lg-6">
                <%= f.input :email, label: 'Email', placeholder: 'email@example.com', as: :string %>
              </div>
            </div>

            <div class="Gmap">

                <!-- TODO: Need to implement a custom simple field to this input -->
                <div class="input string optional invite_address form-group">
                  <label for="address" class="string optional control-label">* <%= t('welcome.modal.address') %></label> <span class="small">(<%= t('welcome.modal.address_hint') %>)</span>
                  <span class="Gmap-loadingResponse pull-right"></span>
                  <input class="Gmap-inputAddress Input ui-autocomplete-input" type="text" size="255" placeholder="<%= t('welcome.modal.address_placeholder') %>" name="invite[address]" maxlength="255" autocomplete="off">
                </div>

                <%= f.input :locale, as: :hidden, input_html:{ value: I18n.locale} %>

                <div class="Gmap-map" style="height: 200px; display: none"></div>

            </div>

          </div>

          <div class="Modal-footer">
            <%= f.button :submit, t('welcome.modal.confirm'), :class => 'Button Button--primary Button--large js-btn-to-search-address', disabled: true %>
          </div>

      <% end %>
    </div>
  </div>
</div>
