  
    
<!-- HEAD -->

<%= stylesheet_link_tag params[:controller] %>
<%= javascript 'autocomplete','gmaps-builder' %>




<!-- MAIN -->

<div class="col-md-9 col-lg-9">

	<div class="panel">

	  <div class="panel-heading">
	    <h1><%= yield :header %></h1>
	  </div>


	  <div class="panel-body">

		  <%= simple_form_for @event, defaults:{ label: false, input_html:{class: "form-control"}, wrapper_html: {class: "form-group"}}, :html => { multipart: true, class: "form-horizontal"} do |f| %>
		        
	      <%= f.input :name %>

	      <%= f.simple_fields_for :place do |p| %>
	        <%= p.input :name %>
	      <% end %>

	      <%= f.input :address %>
		   
	      <div class="footer">
	        <%= link_to "Cancelar", root_path(current_user.city_slug) %>
	        <%= f.button :submit, "Criar evento", :class => 'btn-primary btn-lg' %>
	      </div>

	  	<% end %>

		</div>

	</div>






