
<% cache [current_user, @event, @event.agended_by_count[:count]] do %>

    <% wiselinks_title(@event.name + ' em ' + @event.city_name + ' — Villeme') %>
    <%= content_for :title, @event.name + ' em ' + @event.city_name %>

    <%= stylesheet_link_tag params[:controller] %>
    <%= include_gon %>
    <%= javascript_include_tag params[:controller] %>
    <%= javascript_include_tag 'gmaps-builder-event', 'jquery-raty', 'ratyrate' %>


    <!-- MAIN -->

    <div id="main-content">

      <div class="Event--single col-lg-7 col-md-8" id="event-<%= @event.id %>">

        <div class="box-top">

          <% if agended(@event) %>
              <span title='<%= @event.period_that_occurs %>' class='label day today has-tooltip agended'><%= @event.day_of_week %></span>
              <span class="label green-bg agenda-btn schedule" data-schedule-url="<%= schedule_event_path(@event) %>"><span class="text">Agendado</span><span class="agended-by-count has-tooltip" title="<%= @event.agended_by_count[:valid] ? @event.agended_by_count[:text] : nil %>"><%= @event.agended_by_count[:count] %></span></span>
          <% else %>
              <span title='<%= @event.period_that_occurs %>' class='label day today has-tooltip'><%= @event.day_of_week %></span>
              <span class="label white-bg agenda-btn unschedule" data-schedule-url="<%= schedule_event_path(@event) %>"><span class="text">Agendar</span><span class="agended-by-count has-tooltip" title="<%= @event.agended_by_count[:valid] ? @event.agended_by_count[:text] : nil %>"><%= @event.agended_by_count[:count] %></span></span>
          <% end %>

        </div>

        <div class="panel panel-default">


          <!-- =Image -->
          <div class="image" style="background-image: url(<%= @event.image.url(:medium) %>)"></div>


          <div class="panel-body">


            <!-- =Title -->
            <span class="font-9 opacity-50 uppercase"><%= @event.subcategory.name unless @event.subcategory.nil? %></span>
            <h1 class="title"><%= @event.name %></h1>


            <!-- =Description -->
            <div class="panel-body-item p-0-0-15">
              <%= render 'events/show/description' %>
            </div>

          </div>

          <ul class="list-group font-12">

            <li class="list-group-item categories centralize p-15-0">
              <div class="row">

                <!-- =Categories -->
                <div class="col-lg-5 col-md-5 p-6-0">
                  <% @event.category_ids.each do |id| %>
                      <% # noinspection RailsChecklist05
                         cat = Category.find(id) %>
                      <%= link_to newsfeed_category_path(cat) do %>
                          <%= image_tag "categories/#{cat.slug}.png", title: cat.name, class: "has-tooltip"  %>
                      <% end %>
                  <% end %>
                </div>

                <!-- =Rating -->
                <div class="col-lg-7 col-md-7 p-15-0-0-0">
                  <%= rating_for @event, "geral", disable_after_rate: true, half_show: false %>
                  <span class="block p-10-0-0-0 font-10"><span class="glyphicon glyphicon-user"></span> <%= @event.rates_count %></span>
                </div>

              </div>
            </li>

            <!-- =Infos -->
            <li class="list-group-item">
              <%= render 'events/show/infos' %>
            </li>


            <!-- =Contacts -->
            <% if @event.email.blank? == false or @event.phone.blank? == false or @event.link.blank? == false %>
                <li class="list-group-item">
                  <%= render 'events/show/contacts' %>
                </li>
            <% end %>

          </ul>
        </div>


        <!-- =Tip -->
        <div class="panel panel-default">
          <%= render 'events/show/tips' %>
        </div>

      </div>






      <!-- =SIDEBAR -->

      <%= render 'events/show/sidebar' %>


    </div>

<% end %>