
  <% wiselinks_title(@event.name + ' em ' + @event.city_name + ' — Villeme') %>
  <%= content_for :title, @event.name + ' em ' + @event.city_name %>

  <%= stylesheet_link_tag params[:controller] %>
  <%= include_gon %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag 'gmaps-builder-event', 'jquery-raty', 'ratyrate' %>


  <!-- MAIN -->

  <div id="main-content">

    <div id="event-<%= @event.id %>" class="col-lg-7 col-md-8 single-event">

      <div class="box-top">
        <% cache [@event, "agenda"], skip_digest: true do %>
        <% if agended(@event) %>
          <span class="label green-bg agenda-btn schedule" data-schedule-url="<%= schedule_event_path(@event) %>"><span class="text">Agendado</span><span class="agended-by-count has-tooltip" title="<%= @event.agended_by_count[:valid] ? @event.agended_by_count[:text] : nil %>"><%= @event.agended_by_count[:count] %></span></span>
        <% else %>
          <span class="label white-bg agenda-btn unschedule" data-schedule-url="<%= schedule_event_path(@event) %>"><span class="text">Agendar</span><span class="agended-by-count has-tooltip" title="<%= @event.agended_by_count[:valid] ? @event.agended_by_count[:text] : nil %>"><%= @event.agended_by_count[:count] %></span></span>
        <% end %>
        <% end %>
      </div>

      <div class="panel panel-default">


        <!-- Imagem -->
        <div class="image" style="background-image: url(<%= @event.image.url(:medium) %>)"></div>


        <div class="panel-body">


          <!-- Titulo -->
          <% cache [@event, 'title'] do %>
          <span class="font-9 opacity-50 uppercase"><%= @event.subcategory.name unless @event.subcategory.nil? %></span>
          <h1 class="title"><%= @event.name %></h1>
          <% end %>

          <!-- Descrição -->
          <div class="panel-body-item p-0-0-15">
            <%= render 'events/show/description' %>
          </div>

        </div>

        <ul class="list-group">


          <li class="list-group-item categories centralize p-15-0">
            <div class="row">

              <!-- Categorias -->
              <div class="col-lg-5 col-md-5 p-6-0">
                <% @event.category_ids.each do |id| %>
                  <% # noinspection RailsChecklist05
                     cat = Category.find(id) %>
                  <%= link_to newsfeed_category_path(cat) do %>
                    <%= image_tag "categories/#{cat.slug}.png", title: cat.name, class: "has-tooltip"  %>
                  <% end %>
                <% end %>
              </div>

              <!-- Votação -->
              <div class="col-lg-7 col-md-7 p-15-0-0-0">
                <%= rating_for @event, "geral", disable_after_rate: true, half_show: false %>
                <span class="block p-10-0-0-0 font-10"><span class="glyphicon glyphicon-user"></span> <%= @event.rates_count %></span>
              </div>

            </div>
          </li>

          <!-- Infos -->
          <li class="list-group-item">
            <% cache [@event, 'infos'] do %>
              <%= render 'events/show/infos' %>
            <% end %>
          </li>


          <!-- Contatos -->
          <% if @event.email.blank? == false or @event.phone.blank? == false or @event.link.blank? == false %>
            <li class="list-group-item">
              <% cache [@event, 'contacts'] do %>
                <%= render 'events/show/contacts' %>
              <% end %>
            </li>
          <% end %>





        </ul>
      </div>


      <!-- Dicas -->
      <div class="panel panel-default">
        <%= render 'events/show/tips' %>
      </div>

    </div>






    <!-- SIDEBAR -->

    <%= render 'events/show/sidebar' %>

     
  </div>