
<div class="panel-heading">
  <h1>Personas</h1>
</div>

<div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @personas.each do |persona| %>
        <tr>
          <td><%= link_to persona.id, persona_path(persona) %></td>
          <td><%= persona.name %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_persona_path(persona), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        persona_path(persona),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 

<div class="panel-footer">
  <%= link_to 'Criar persona',
              new_persona_path,
              :class => 'btn btn-primary' %>
</div>           
