
<div class="panel-heading">
  <h1>Listing levels</h1>
</div>

<div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Nivel</th>
        <th>Points</th>
        <th>Icone</th>
        <th>Ações</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @levels.each do |level| %>
        <tr>
          <td><%= link_to level.name, level %></td>
          <td><%= level.nivel %></td>
          <td><%= level.points %></td>
          <td><%= x_image_tag level.icon.url(:original) unless level.icon.blank? %></td>
          <td><%= link_to 'Editar', edit_level_path(level),  class: 'btn btn-default' %></td>
          <td><%= link_to 'Destruir', level, class: 'btn btn-alert', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="panel-footer">
  <%= link_to 'Criar level', new_level_path, class: 'btn btn-primary' %>
</div>