<div class="panel panel-default">

  <div class="panel-heading">
    <h1>Cidades</h1>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Launch</th>
        <th>Meta</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @cities.each do |city| %>
          <tr>
            <td><%= link_to city.id, city_path(city) %></td>
            <td><%= city.name %></td>
            <td><%= city.launch? ? 'Sim' : 'Não' %></td>
            <td><%= city.goal %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_city_path(city), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          city_path(city),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <%= link_to 'Criar cidade',
                new_city_path,
                :class => 'btn btn-primary' %>
  </div>

</div>