
<div class="Sidebar--single col-md-4 col-lg-3 font-12">

  <!-- =Address -->
  <% cache [@event, "map"] do %>
  <div class="panel panel-default sidebar single-event-sidebar">
    <div id="single-map" style="height:215px"></div>
    <div class="panel-body">
      <div class="place"><b><%= @event.try(:place).try(:name) %></b><br/><%= @event.full_address %></div>
    </div>
  </div> 
  <% end %>

  
	<!-- =Transport -->
  <% cache [@event, "transport"] do %>
  <div class="panel panel-default sidebar single-event-sidebar">
	<%= render 'events/show/transport' %>
  </div>
  <% end %>


	<!-- =Friends wich agended -->
  <% if current_user %>
      <% unless current_user.which_friends_will_this_event?(@event).empty? %>
        <div class="panel panel-default sidebar single-event-sidebar">
          <%= render 'events/show/friends_agended' %>
        </div>
      <% end %>
  <% end %>


	<!-- =Who wich created event -->
  <% cache [@event, "created_by"] do %>
  <div class="panel panel-transparent sidebar single-event-sidebar p-15-0">
    <%= render 'events/show/created_by' %>
  </div>
  <% end %>

</div>