<div class="panel panel-default">

  <div class="panel-heading">
    <h2>Eventos</h2>
  </div>

  <div class="panel-body">
    <table id="table" class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Periodo</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |activity| %>
          <tr>
            <td><%= link_to activity.name, activity %></td>
            <td><%= "#{activity.date_start.strftime('%d/%m')} até #{activity.date_finish.strftime('%d/%m/%Y')}" %></td>
            <td><%= activity.moderate == 1 ? 'Aprovado' : 'Em moderação' %></td>
            <td>
              <%= button_to 'Editar',
                            edit_activity_path(activity), method: :get, :class => 'btn btn-default btn-xs' %>

              <%= button_to 'Excluir',
                            activity_path(activity),
                            method: :delete,
                            data: { anchor: "tr"},
                            class: 'btn btn-xs btn-danger excluir',
                            remote: true %>

              <%= button_to 'Aprovar',
                            item_aprove_path(activity.id),
                            method: :put,
                            remote: true,
                            class: 'btn btn-xs aprovar' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'Criar evento',
                new_event_path,
                :class => 'btn btn-primary pull-right' %>


  </div>

</div>