

<!-- SCREEN > 1200px -->

<div id="sidebar-left-lg" class="sidebar-left">
  <ul class="nav nav-pills nav-stacked">


    <!-- Newsfeed -->


    <li class="active">
      <% if current_or_guest_user.guest? %>
          <%= link_to root_path do %>
              <span class="glyphicon glyphicon-th"></span>Inicio
          <% end %>
      <% else  %>
          <%= link_to root_path, id: "newsfeed-link", data: {push: true} do %>
              Inicio<span class="badge"><%= current_user.newsfeed_notify_count if current_user.newsfeed_notify_count > 0 %></span></a>
          <% end %>
      <% end %>
    </li>




    <!-- Persona -->


    <li>
      <% if user_signed_in? and current_user.persona %>
          <%= link_to my_persona_events_path, data: { push: true } do %>
              <span class="has-tooltip" title="Minha persona"><%= current_user.persona_name %></span>
              <span class="badge"><%= current_user.quantity_of_events_from_persona %></span>
          <% end %>
      <% else %>
          <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver eventos da sua persona.")' do %>
              Minha persona
          <% end %>
      <% end %>
    </li>



    <!-- Neighborhood -->


    <li>
      <% if user_signed_in? and current_user.neighborhood %>
          <%= link_to my_neighborhood_events_path, data: { push: true } do %>

                    <span class="has-tooltip" title="Meu bairro">
                        <%= current_user.neighborhood.name %></span>
              <span class="badge"><%= current_user.quantity_of_events_from_neighborhood %></span>
          <% end %>
      <% else %>
          <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver eventos do seu bairro.")' do %>
              Meu bairro
          <% end %>
      <% end %>
    </li>




    <!-- Agenda -->

    <li>
      <% if user_signed_in? %>
          <%= link_to my_agenda_events_path, data: { push: true } do %>
              Minha agenda<span id="agenda-count" class="badge"><%= current_user.agenda_events.upcoming.count if current_user.agenda_events.upcoming.count >= 1 %></span>
          <% end %>
      <% else %>
          <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver sua agenda.")' do %>
              Minha agenda
          <% end %>
      <% end %>
    </li>



    <!-- Categorias -->

    <li class="sub-nav-anchor"><a>Categorias</a></li>


    <ul class="sub-nav hide">
      <% if user_signed_in? %>
          <% Category.all.each do |category| %>

              <li>
                <%= link_to newsfeed_category_path(category), data: { push: true } do %>
                    <%= category.name %><span class="badge"><%= category.events.upcoming.count if category.events.upcoming.count > 0 %></span>
                <% end %>
              </li>

          <% end %>
      <% end %>
    </ul>




  </ul>
</div>







<!-- SCREEN > 992px and  < 1200px-->

<div id="sidebar-left-md" class="sidebar-left">
  <ul class="nav nav-pills nav-stacked">


    <!-- Newsfeed -->


    <li class="active">
      <%= link_to root_path do %>
          <span class="text">Inicio</span><span class="badge text"><%= Event.upcoming.where(moderate: 1).count %></span></a>
      <% end %>
    </li>




    <!-- Persona -->

    <li>
      <% if user_signed_in? and current_user.persona %>
          <%= link_to my_persona_events_path, data: { push: true } do %>
              <span class="has-tooltip text" title="<%= current_user.persona.name %>">Minha persona</span><span class="badge text"><%= current_user.events_from_persona.count if current_user.events_from_persona.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Minha persona</span><span class="badge text">4</span>
          </a>
      <% end %>
    </li>



    <!-- Neighborhood -->


    <li>
      <% if user_signed_in? and current_user.neighborhood %>
          <%= link_to my_neighborhood_events_path, data: { push: true } do %>
              <span class="has-tooltip" title="<%= current_user.neighborhood.name %>"><span class="text">Meu bairro</span></span><span class="badge text"><%= current_user.events_from_neighborhood.count if current_user.events_from_neighborhood.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Meu bairro</span><span class="badge text">18</span>
          </a>
      <% end %>
    </li>



    <!-- Agenda -->

    <li>
      <% if user_signed_in? %>
          <%= link_to my_agenda_events_path, data: { push: true } do %>
              <span class="text">Minha agenda</span><span id="agenda-count" class="badge text"><%= current_user.agenda_events.count if current_user.agenda_events.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Minha agenda</span><span id="agenda-count" class="badge text">6</span>
          </a>
      <% end %>
    </li>

  </ul>
</div>