

<!-- SCREEN > 1200px -->

<div id="SidebarLeft" class="SidebarLeft">

  <section class="SidebarLeft-section">
    <ul>
      <li>
        <% if user_signed_in? %>
            <%= link_to my_agenda_events_path, data: { push: true } do %>
                Minha agenda<span id="agenda-count" class="badge"><%= current_user.agenda_items.upcoming.count if current_user.agenda_items.upcoming.count >= 1 %></span>
            <% end %>
        <% else %>
            <%= link_to '#', onclick: 'Villeme.Ux.loginModal("Você precisa estar logado para ver sua agenda.")' do %>
                Minha agenda
            <% end %>
        <% end %>
      </li>
    </ul>
  </section>

  <section class="SidebarLeft-section">
    <ul class="SidebarLeft-nav">
      <% unless @events_today.empty? %>
          <li><a href="#" data-scroll="today">Acontecendo hoje</a></li>
      <% end %>
      <% unless @events_persona.empty? %>
          <li><a href="#" data-scroll="persona">Indicados p/ mim</a></li>
      <% end %>
      <% if @events_neighborhood %>
        <li><a href="#" data-scroll="neighborhood">No meu bairro</a></li>
      <% end %>

      <% unless @events_fun.empty? %>
        <li><a href="#" data-scroll="fun">Para se divertir</a></li>
      <% end %>
      <% unless @events_education.empty? %>
        <li><a href="#" data-scroll="learn">Aprender algo novo</a></li>
      <% end %>
      <% unless @events_health.empty? %>
        <li><a href="#" data-scroll="health">Cuidar da saude</a></li>
      <% end %>
      <% unless @events_trends.empty? %>
        <li><a href="#" data-scroll="trends">Em alta</a></li>
      <% end %>
    </ul>
  </section>
</div>







<!-- SCREEN > 992px and  < 1200px-->

<div id="sidebar-left-md" class="SidebarLeft">
  <ul class="nav nav-pills nav-stacked">


    <!-- Newsfeed -->


    <li class="active">
      <%= link_to root_path do %>
          <span class="text">Inicio</span><span class="badge text"><%= Event.upcoming.where(moderate: 1).count %></span></a>
      <% end %>
    </li>




    <!-- Persona -->

    <li>
      <% if user_signed_in? and current_user.persona %>
          <%= link_to my_persona_events_path, data: { push: true } do %>
              <span class="has-tooltip text" title="<%= current_user.persona.name %>">Minha persona</span><span class="badge text"><%= current_user.events_from_persona.count if current_user.events_from_persona.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Minha persona</span><span class="badge text">4</span>
          </a>
      <% end %>
    </li>



    <!-- Neighborhood -->


    <li>
      <% if user_signed_in? and current_user.neighborhood %>
          <%= link_to my_neighborhood_events_path, data: { push: true } do %>
              <span class="has-tooltip" title="<%= current_user.neighborhood.name %>"><span class="text">Meu bairro</span></span><span class="badge text"><%= current_user.events_from_neighborhood.count if current_user.events_from_neighborhood.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Meu bairro</span><span class="badge text">18</span>
          </a>
      <% end %>
    </li>



    <!-- Agenda -->

    <li>
      <% if user_signed_in? %>
          <%= link_to my_agenda_events_path, data: { push: true } do %>
              <span class="text">Minha agenda</span><span id="agenda-count" class="badge text"><%= current_user.agenda_items.count if current_user.agenda_items.count >= 1 %></span>
          <% end %>
      <% else %>
          <a>
            <span class="text">Minha agenda</span><span id="agenda-count" class="badge text">6</span>
          </a>
      <% end %>
    </li>

  </ul>
</div>