<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%= render 'layouts/head' %>
    
  </head>
  <body>


    <%= bootstrap_flash %>

    <div class="container">

      <%= render 'layouts/header' %>

      <div class="row">

        <div class="col-lg-12">

          <%= yield %>

        </div>

        
      </div><!--/row-->

      

      <%= render 'layouts/footer' %>

    </div> <!-- /container -->

  </body>

<%= render 'layouts/analitycs' %>
  
</html>
