<!DOCTYPE html>
<html lang="en">
  <head>

    <%= render 'layouts/head' %>

  </head>
  <body>

    <%= bootstrap_flash %>

    <div class="container-fluid">

      <%= render 'layouts/header' %>


      <div class="content">

        <%= render 'layouts/sidebar_left' %>


        <div id="main" class="row">

       		<%= yield %>

        </div>

      </div>



      <%= render 'layouts/footer' %>

    </div>

  </body>

<%= render 'layouts/analitycs' %>

</html>
