<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= t('welcome.head.title') %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O propósito do Villeme é aumentar o acesso à qualidade de vida e tornar divertido a interação das pessoas com a cidade.">
    <meta name="keywords" content="eventos, atividades, cidade, diversão, qualidade de vida">

    <meta property="og:site_name" content="Villeme" />
    <meta property="og:url" content="http://www.villeme.com/" />
    <meta property="og:title" content="Eventos e atividades na sua cidade — Solicite um convite!" />
    <meta property="og:description" content="O jeito mais fácil de se divertir, de aprender e de cuidar da saúde perto de casa." />
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/villeme-visual-identity/app-opegraph-facebook-transparent.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="568047899941238">    
    <meta property="og:locale" content="pt_BR">

    <%= csrf_meta_tags %>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <%= stylesheet_link_tag "application", "bootstrap_and_overrides", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>



  </head>

  <body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=236068809754091&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%= bootstrap_flash -%>

  <%= render 'modal_request_invite' %>









  <!-- Container 1 -->

    <div id="header-hide-on-scroll" class="container-fluid green-bg">  
      <div class="row">
        
        <div class="col-lg-8 col-lg-offset-2 p-15-0 a-right a_p-0-12">
          <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
          <%= link_to_unless I18n.locale == :br, "Português", locale: 'pt-BR' %>
        </div>


        <!-- Logo -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo-lg centralize">
          <%= image_tag 'welcome/logo-lg.png', width: '267', height: '75' %>
        </div>

        <!-- Slogan -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slogan centralize">
          <span class="font-36"><%= t('welcome.first_screen.slogan') %> <span class="wodry"><%= t('welcome.first_screen.slogan_city') %>|<%= t('welcome.first_screen.slogan_neighborhood') %></span>!</span><br/>
          <span class="font-14"><%= t('welcome.first_screen.sub_slogan') %></span>
        </div>


        <!-- Slogan -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 temporary-slogan centralize">
          <span class="font-36"><%= t('welcome.first_screen.slogan') %> <%= t('welcome.first_screen.slogan_city') %></span><br/>
          <span class="font-14"><%= t('welcome.first_screen.sub_slogan') %></span>
        </div>        


        <!-- Logins -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login">
          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-sm-offset-0 col-xs-offset-2">

              <!-- invite -->
              <div class="white-btn rounded pull-right has-modal invite centralize hidden-xs">
                <span class="f-weight-400"><%= t('welcome.first_screen.request_invite') %></span><br/>
                <span class="small-font" style="position: relative; top: -3px; opacity: 0.65;"><%= t('welcome.first_screen.request_invite_free') %></span>
              </div>

              <!-- invite -->
              <div class="white-btn rounded has-modal invite centralize visible-xs">
                <span class="f-weight-400"><%= t('welcome.first_screen.request_invite') %></span><br/>
                <span class="small-font" style="position: relative; top: -3px; opacity: 0.65;"><%= t('welcome.first_screen.request_invite_free') %></span>
              </div> 

            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 centralize p-30-0 "><a href="#beneficios"><%= t('welcome.first_screen.learn_more') %></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 centralize p-30-0"><%= link_to t('welcome.first_screen.sign_in'), user_omniauth_authorize_path(:facebook), id: 'sign_in', class: 'has-tooltip', rel: 'nofollow',  title: t('welcome.tooltip.have_an_invitation') %></div>
              </div>
            </div>  

          </div>
        </div>



        <!-- Plataforms -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plataforms">
          <%= image_tag 'welcome/plataforms-b.png', width: '936', height: '318' %>
        </div>



          
        
       
      </div><!--/row-->

      <div class="Credits Credits--welcome">
        Photo by <a href="https://www.flickr.com/photos/cristinerochol">Cristine Rochol</a>
      </div>

    </div> <!-- /container -->




    <div id="header-hide-on-scroll-dark" class="container-fluid green-bg">

    </div>




    <!-- Container 2 -->

    <div id="beneficios" class="container-fluid">  
      <div class=" default row extra-padding">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
          

          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize-xs" style="margin: 0px 0px 65px;">
              <h2 class="green-font"><%= t('welcome.attributes.offers') %>:</h2>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-sm-offset-3 col-md-offset-0 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-a.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.event.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.event.description') %></span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-b.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.activity.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.activity.description') %></span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-c.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.family.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.family.description') %></span>
                </div>
              </div>
            </div>

            <div class="clear"></div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-d.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.health.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.health.description') %></span>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-e.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.friends.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.friends.description') %></span>
                </div>
              </div>
            </div>                                              


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 align-left-lg align-left-md centralize-sm centralize-xs p-45-15">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-3">
                  <%= image_tag 'welcome/beneficio-f.png', class: 'img-responsive' %>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h3 class="m-0 p-6-0"><%= t('welcome.attributes.services.title') %></h3>
                  <span class="font-12"><%= t('welcome.attributes.services.description') %></span>
                </div>
              </div>
            </div> 


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize-lg">
              <h4><%= t('welcome.attributes.more') %></h4>
            </div>



          </div>
        </div>

      </div><!--/row-->
    </div> <!-- /container -->





    <!-- Container 3 -->

    <div class="container-fluid body-dark-grey">  
      <div class="row" style="padding: 25px 0px 0px; margin: 0px;">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
          

          <div class="row">


            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <h2 class="green-font"><%= t('welcome.proposition.title').html_safe %></h2>
              <span><%= t('welcome.proposition.description') %></span>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 centralize">
              <%= image_tag('welcome/city.png', class: 'city-img') %>
            </div>                                 


          </div>

        
        </div>
      </div><!--/row-->
    </div> <!-- /container -->






    <!-- Container 6 -->


    <div class="container-fluid">

      <div class="extra-padding">

        <div class="row">
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize">
            <h2 class="green-font"><%= t('welcome.want_invite.title') %></h2>
            <span><%= t('welcome.want_invite.description') %></span>
          </div>
        

          <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">

            <ul class="goals">

              <% number = 0 %>
              <% @cities.each do |city| %>
              <%
              if city.goal < 1
                contador = t('welcome.want_invite.beta_launched')
                ativado = true
              else
                contador = "#{t('welcome.want_invite.need')} #{city.goal} #{t('welcome.want_invite.people_to_launch')}"
              end 
              %>

                <li> 
                  <%= "<span class='number body-grey font-18'> #{number += 1} </span> ".html_safe unless ativado %>
                  <%= "<span class='number body-grey font-18'><span class='glyphicon glyphicon-ok' style='float: left; padding: 5px;'></span></span> ".html_safe if ativado %>
                  <span class='city font-22'><%= city.name %> <small class="opacity-50"><%= city.state_name %> - <%= city.country_code %></small></span>
                  <%= "<div> <span class='pull-right has-modal has-tooltip rounded font-16 green-btn' title='#{t('welcome.tooltip.i_want_invite_for')} #{city.name}' data-city='#{city.id}'>#{t('welcome.want_invite.i_want')}</span> </div>".html_safe unless ativado %>
                  <%= "<div> <span class='pull-right has-modal has-tooltip rounded font-16 green-btn' title='#{t('welcome.tooltip.i_want_invite_for')} #{city.name}' data-city='#{city.id}'>#{t('welcome.want_invite.i_want_to')}</span> </div>".html_safe if ativado %>
                  <span class="people font-18"><%= contador %></span>
                </li>
            
              <% end %>

                <li>
                  <span class="people has-modal has-tooltip" title="<%= t('welcome.tooltip.your_city_dont_exist') %>" style="cursor:pointer"><%= t('welcome.want_invite.new_city') %></span>
                </li>

            </ul>

          </div>

        </div>

      </div>

    </div>





    <!-- Container 6 -->

    <div class="container-fluid p-30-0">
      <div class=" default row">
       

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize">
          <h3><%= t('welcome.footer.title') %></h3>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize blue-font">
          <div class="fb-like" data-href="https://www.facebook.com/app.Villeme" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>


      </div><!--/row-->
    </div> <!-- /container -->





    <div class="container-fluid green-bg">  
      <footer>
        <ul>
          <li><a href="https://assembly.com/villeme"><%= t('welcome.footer.porpouse') %></a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/asm-products/villeme"><%= t('welcome.footer.github') %></a></li>
          <li id="contato"><a href=""><%= t('welcome.footer.contact') %></a></li>
          <li><a href="https://assembly.com/villeme/people" ><%= t('welcome.footer.work_with_us') %></a></li>
        </ul>
      </footer>      
    </div>

  </body>


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>


    <%= include_gon %>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp language=en"></script>
    <%= javascript_include_tag 'application', 'wodry', 'gmap3', 'modules/gmap/Gmap' %>
    <%= javascript_include_tag params[:controller] %>

    <%= render 'layouts/analitycs' %>

</html>
