

<%= simple_form_for(@user, url: account_update_path(@user), method: :put, defaults: {input_html: {class: "form-control"}, label_html: {class: "control-label"}, wrapper_html: {class: "form-group"}}, :html => { id:'edit-user', multipart: true, autocomplete: 'off' }) do |f| %>

  <div class="panel-heading">
    <h1 class="panel-title">
    	Editar conta
  	</h1>
  </div>

  <div class="panel-body">

    <%= f.input :name, required:true, autofocus: true, label: 'Nome completo', input_html:{ :'data-bv-notempty-message' => "O nome deve ser preechido.", pattern: "[a-zA-Z0-9]+", :'data-bv-regexp-message' => "O nome deve ter somente letras e números.",  :'data-bv-stringlength-max' => "60", :'data-bv-stringlength-min' => "2",  :'data-bv-stringlength-message' => "O nome deve ter menos que 60 e mais que 2 caracteres."} %>

    <label>Foto</label>
    <div class="form-group" style="overflow:hidden">
      <div style="float:left; margin: 0 15px 0 0" class="has-tooltip" title="Trocar imagem"><%= get_avatar @user %></div>
      <%= f.input :avatar, as: :file, label: false, input_html: {class: ""}, wrapper_html: false %>
    </div>

    <%= f.input :username, required: true, label: 'Nome de usuário', input_html:{ value: create_username, :'data-bv-notempty-message' => "O nome de usuário deve ser preechido.", pattern: "^[a-z0-9_-]{2,30}$", :'data-bv-regexp-message' => "O nome de usuário deve ter somente letras, números, hífen e underscore.", :'data-bv-stringlength-max' => "30", :'data-bv-stringlength-min' => "2",  :'data-bv-stringlength-message' => "O nome de usuário deve ter menos que 30 e mais que 2 caracteres.", :'data-bv-greaterthan-message' => "O nome de usuário deve ser maior que 2 caracteres."} %>
    <%= f.input :email, required: true, as: :email, label: 'Email', input_html:{ :'data-bv-emailaddress' => true, :'data-bv-emailaddress-message' => "Este email não é valido."} %>
    <div class="block u-margin-15-0" style="overflow:hidden">
      <label class="block">Perfil</label>
      <%= f.association :personas, as: :check_boxes, label: false, prompt: t('welcome.modal.persona_identify'), if: @user.personas.size <= 1 %>
    </div>
    <%= f.input :address, required:true, label: 'Endereço', input_html:{ id: 'address', :'data-bv-notempty-message' => "O endereço deve ser preenchido.", :'data-bv-stringlength-max' => "140", :'data-bv-stringlength-min' => "2",  :'data-bv-stringlength-message' => "O nome deve ter menos que 140 e mais que 2 caracteres."} %>


    <div id="map"></div>


  </div>

  <div class="panel-footer">
    <%= f.button :submit, "Salvar alterações", :class => 'btn btn-primary' %>
  </div>

<% end %>